.nav {
    height: 100%;
}

.navList {
    display: flex;
    height: 100%;
    list-style-type: none;
}

.navItem {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.navLink {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 16px;
    color: #333;
    text-decoration: none;
}

.navLinkActive::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #333;
}

.navTitle {
    font-size: 16px;
    font-weight: 500;
}

.navIcon {
    font-size: 13px;
    opacity: 0.6;
    padding-left: 6px;
}
