.screen {
    padding: 40px 48px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
    font-family: "Inter", serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
}
