.status {
    border-radius: 50%;
}

.active {
    background: #46DC00;
}

.warning {
    background: #ffc400;

}

.error {
    background: #ff7600;
}

.disabled {
    background: #bbb;
}
